.header{
    margin-left: 230px !important;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .card{
    margin-top: 80px;
    margin-left: 60px !important;
    margin-bottom: 50px;
    margin-right: 10px !important;
  }

  .card-img-top{
    margin-bottom: 10px;
  }

  .para{
    border:0px solid black;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 70px !important;
  }

  .cardholder{
    display: flex !important;
    gap:10%;
    flex-wrap: wrap;
    border:0px solid;
    width: 1030px;
    margin-right:3%;
    margin-left:25%;
    margin-top:2%;
    margin-bottom:2%;
  }