.card{
    display: flex !important;
    gap:1%;
    flex-wrap: wrap;
    border:0px solid;
    width: 250px ;
    margin-right:3%;
    margin-left:2%;
    margin-top:5%;
    margin-bottom:2%;
    
}

.colorbtn1{
    gap: 2%;
    width: 5px ;
    height: 30px;
    margin-left:60px !important;
   
}

.colorbtn2{
    gap: 2%;
    width: 5px ;
    height: 30px;
    
}